.detail {
    margin-top: calc(var(--header-height) + 40px);
}

.name {
    font-size: 2.8rem;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-weight: 700;
}

.sub-title {
    color: var(--desc-color);
    margin-right: 5px;
}

.price {
    display: inline-block;
    color: var(--primary-color);
    font-size: 2.2rem;
    font-weight: 700;
    padding: 16px 0;
}

.img-main {
    display: block;
    width: 100%;
    height: 50rem;
    border-radius: 4px;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 16px;
}

.img-choice {
    width: 130px;
    height: 130px;
    border-radius: 4px;
    border: 4px solid transparent;
    cursor: pointer;
}

.img-choice.active {
    border: 4px solid var(--primary-color);
}

.title {
    margin: 18px 0 4px;
}

.outline {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    padding: 18px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.button.custom {
    background: var(--primary-color);
}

.more {
    display: block;
    margin-top: 48px;
    text-align: center;
}