@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.6rem;
    background-color: var(--background-color);
    line-height: 1.4;
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}

button,
input {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.6rem;
}

button {
    cursor: pointer;
    user-select: none;
}

// Hide arrow input number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.container {
    max-width: 1270px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.global {
    &-title {
        display: inline-block;
        font-size: 3.8rem;
        font-weight: 600;
        margin-bottom: 24px;

        &-s {
            font-size: 1.8rem;
        }
    }
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.button {
    font-size: 1.6rem;

    &:hover {
        opacity: 0.8;
    }

    &--icon {
        width: 24px;
        height: 24px;
        background: var(--primary-color);
        border-radius: 4px;
        padding: 2px;
        cursor: pointer;

        &:active {
            opacity: 0.6;
        }

        &-l {
            width: 32px;
            height: 32px;
            padding: 6px;
        }
    }

    &--circle {
        width: 38px;
        height: 38px;
        border-radius: 999rem;
        background-color: var(--background-color);
    }
    &--outline {
        font-weight: 700;
        line-height: 20px;
        margin-left: 4px;
        border: 1px solid var(--border-color);
        padding: 0px 7px;
        border-radius: 5px;
        background: transparent;
    }
    &--text {
        border: none;
        background: transparent;
    }
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// lazy load image library
.lazy-load-image-background.lazy-load-image-loaded {
    display: block !important;
}
