:root {
    --primary-color: #ffc40c;
    --light-color: #fff;
    --dark-color: #000;
    --text-color: #081f42;
    --desc-color: #5e6d84;
    --background-color: #f2f5f7;
    --steel-blue-color: #5e6d84;
    --border-color: rgb(205, 210, 215);

    --header-height: 85px;
}
