.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    border-bottom: 1px solid #eee;
    transition: all 0.25s linear;

    box-shadow: 0 3px 6px rgb(28 28 28 / 10%);
    background: var(--light-color);

    z-index: 99;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
}

.left {
    align-items: center;

    .logo {
        display: flex;
        align-items: center;
        text-decoration: none;

        img {
            width: 56px;
            height: 56px;
            margin-right: 12px;
        }

        h1 {
            font-size: 24px;
            font-weight: 600;
            color: var(--primary-color);
            transition: color 0.25s linear;
        }

        &:hover h1 {
            color: var(--dark-color);
        }
    }
}

.right {
    button {
        padding: 4px 12px 4px 40px;
        width: 280px;
        height: 40px;

        font-size: 16px;
        background: #f1f4f6;
        border-radius: 8px;
        border: 1px solid transparent;
        color: #8b94a1;
    }
}

.input-container {
    position: relative;
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    font-size: 24px;
    color: #5e6d84;
    z-index: 1;
}
