.breadcrumb {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 20px;
}

.item a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
}

.breadcrumb span {
    margin: 0 4px;
}

.breadcrumb .item:not(:last-child):hover a {
    color: var(--primary-color);
}

.breadcrumb .item:last-child {
    cursor: default;
    pointer-events: none;
}
