.banner {
    position: relative;
    padding-top: var(--header-height);
}

.images {
    .img {
        width: 50%;
        height: 350px;
        background-repeat: no-repeat;
    }
}

.address {
    position: absolute;
    top: 0;
    width: 480px;
    padding: 28px;
    border-radius: 12px;
    margin-top: calc(var(--header-height) + 36px);
    background: var(--light-color);
    box-shadow: 0 6px 12px -2px rgba(255, 201, 60, 0.4),
        0 4px 8px -2px rgba(255, 201, 60, 0.3);

    .title {
        display: inline-block;
        font-size: 2.4rem;
        font-weight: 500;
        padding-bottom: 12px;
        margin-bottom: 16px;
    }
}

.group {
    // border: 2px solid #eee;
    border: 2px solid #ffa826ca;
    padding: 12px;
    border-radius: 8px;
    cursor: default;

    & ~ & {
        margin-top: 12px;
    }

    .text {
        display: flex;
        align-items: center;
    }
}

.icon {
    color: var(--primary-color);
    font-size: 24px;
    margin-right: 8px;
    min-width: 24px;
}
